In [3]:
import os
import pandas as pd
import numpy as np

In [4]:
os.chdir('C:/Users/samsung/TIL/DS/project/miniPJ/01_pj/data/')

In [5]:
df7 = pd.read_csv('./final/df_security_concat_7.csv', encoding='cp949')

In [6]:
df7

,state,city,visit_cnt,cctv_cnt,sclight_cnt,smalight_cnt,crime_rate,avg_pop_density,mean_hours,mean_days,new_state
0,강원도,강릉시,26334028.0,1699.0,12301.0,64.0,0.0271,90.36,324.40,1.620,강원도 강릉시
1,강원도,고성군,11612683.0,422.0,NaN,94.0,0.0271,90.36,375.20,1.560,강원도 고성군
2,강원도,동해시,6798468.0,330.0,4555.0,184.0,0.0271,90.36,287.00,1.700,강원도 동해시
3,강원도,삼척시,8614642.0,932.0,7813.0,46.0,0.0271,90.36,318.60,1.680,강원도 삼척시
4,강원도,속초시,19495563.0,441.0,3118.0,NaN,0.0271,90.36,280.20,1.400,강원도 속초시
...,...,...,...,...,...,...,...,...,...,...,...
224,충청북도,제천시,12125010.0,979.0,9024.0,314.0,0.0299,219.20,324.80,1.600,충청북도 제천시
225,충청북도,증평군,2848031.0,910.0,3869.0,8.0,0.0299,219.20,233.00,1.680,충청북도 증평군
226,충청북도,진천군,8030068.0,692.0,2.0,NaN,0.0299,219.20,258.00,1.700,충청북도 진천군
227,충청북도,청주시,62425138.0,9.0,25432.0,NaN,0.0299,219.20,208.15,1.765,충청북도 청주시
228,충청북도,충주시,14797862.0,1578.0,10600.0,219.0,0.0299,219.20,296.80,1.640,충청북도 충주시

In [7]:
df7_state_unique = df7.state.unique().tolist()

In [8]:
df7_state_unique

['강원도',
 '경기도',
 '경상남도',
 '경상북도',
 '광주광역시',
 '대구광역시',
 '대전광역시',
 '부산광역시',
 '서울특별시',
 '세종특별자치시',
 '울산광역시',
 '인천광역시',
 '전라남도',
 '전라북도',
 '제주특별자치도',
 '충청남도',
 '충청북도']

In [10]:
def top5(state_name):
    df_top5= df7[df7.state==state_name].sort_values(by='mean_hours', ascending=False).head(5)
    return df_top5

In [11]:
top5_list = []
for state_name in df7_state_unique:
    top5_list.append(top5(state_name).new_state.tolist())

In [12]:
top5_list

[['강원도 정선군', '강원도 평창군', '강원도 홍천군', '강원도 양구군', '강원도 고성군'],
 ['경기도 가평군', '경기도 연천군', '경기도 평택시', '경기도 포천시', '경기도 화성시'],
 ['경상남도 거제시', '경상남도 남해군', '경상남도 함양군', '경상남도 산청군', '경상남도 통영시'],
 ['경상북도 울릉군', '경상북도 영양군', '경상북도 울진군', '경상북도 영주시', '경상북도 봉화군'],
 ['광주광역시 남구', '광주광역시 광산구', '광주광역시 북구', '광주광역시 서구', '광주광역시 동구'],
 ['대구광역시 달서구', '대구광역시 북구', '대구광역시 달성군', '대구광역시 수성구', '대구광역시 동구'],
 ['대전광역시 유성구', '대전광역시 서구', '대전광역시 대덕구', '대전광역시 동구', '대전광역시 중구'],
 ['부산광역시 사하구', '부산광역시 북구', '부산광역시 해운대구', '부산광역시 남구', '부산광역시 금정구'],
 ['서울특별시 관악구', '서울특별시 은평구', '서울특별시 금천구', '서울특별시 강북구', '서울특별시 성북구'],
 ['세종특별자치시 세종특별자치시'],
 ['울산광역시 동구', '울산광역시 울주군', '울산광역시 북구', '울산광역시 남구', '울산광역시 중구'],
 ['인천광역시 옹진군', '인천광역시 강화군', '인천광역시 서구', '인천광역시 연수구', '인천광역시 남동구'],
 ['전라남도 고흥군', '전라남도 완도군', '전라남도 신안군', '전라남도 여수시', '전라남도 진도군'],
 ['전라북도 부안군', '전라북도 장수군', '전라북도 군산시', '전라북도 익산시', '전라북도 남원시'],
 ['제주특별자치도 제주시', '제주특별자치도 서귀포시'],
 ['충청남도 태안군', '충청남도 보령시', '충청남도 청양군', '충청남도 서산시', '충청남도 아산시'],
 ['충청북도 제천시', '충청북도 보은군', '충청북도 충주시', '충청북도 영동군', '충청북도 단양군']]

In [13]:
# top5에 해당되는 행만 뽑기
top5_lists = ['강원도 정선군', '강원도 평창군', '강원도 홍천군', '강원도 양구군', '강원도 고성군', '경기도 가평군', '경기도 연천군', '경기도 평택시', '경기도 포천시', '경기도 화성시', 
              '경상남도 거제시', '경상남도 남해군', '경상남도 함양군', '경상남도 산청군', '경상남도 통영시', 
              '경상북도 울릉군', '경상북도 영양군', '경상북도 울진군', '경상북도 영주시', '경상북도 봉화군', 
              '광주광역시 남구', '광주광역시 광산구', '광주광역시 북구', '광주광역시 서구', '광주광역시 동구', 
              '대구광역시 달서구', '대구광역시 북구', '대구광역시 달성군', '대구광역시 수성구', '대구광역시 동구', 
              '대전광역시 유성구', '대전광역시 서구', '대전광역시 대덕구', '대전광역시 동구', '대전광역시 중구', 
              '부산광역시 사하구', '부산광역시 북구', '부산광역시 해운대구', '부산광역시 남구', '부산광역시 금정구', 
              '서울특별시 관악구', '서울특별시 은평구', '서울특별시 금천구', '서울특별시 강북구', '서울특별시 성북구', 
              '세종특별자치시 세종특별자치시', '울산광역시 동구', '울산광역시 울주군', '울산광역시 북구', '울산광역시 남구', '울산광역시 중구', 
              '인천광역시 옹진군', '인천광역시 강화군', '인천광역시 서구', '인천광역시 연수구', '인천광역시 남동구', 
              '전라남도 고흥군', '전라남도 완도군', '전라남도 신안군', '전라남도 여수시', '전라남도 진도군', 
              '전라북도 부안군', '전라북도 장수군', '전라북도 군산시', '전라북도 익산시', '전라북도 남원시',
              '제주특별자치도 제주시', '제주특별자치도 서귀포시', 
              '충청남도 태안군', '충청남도 보령시', '충청남도 청양군', '충청남도 서산시', '충청남도 아산시',
              '충청북도 제천시', '충청북도 보은군', '충청북도 충주시', '충청북도 영동군', '충청북도 단양군']

In [17]:
len(top5_lists)

78

In [18]:
df_hours_top5 = df7[df7['new_state'].isin(top5_lists)]
df_hours_top5

,state,city,visit_cnt,cctv_cnt,sclight_cnt,smalight_cnt,crime_rate,avg_pop_density,mean_hours,mean_days,new_state
1,강원도,고성군,11612683.0,422.0,NaN,94.0,0.0271,90.36,375.2,1.56,강원도 고성군
5,강원도,양구군,1828609.0,296.0,190.0,22.0,0.0271,90.36,387.2,1.80,강원도 양구군
10,강원도,정선군,8151609.0,515.0,NaN,13.0,0.0271,90.36,427.8,1.62,강원도 정선군
14,강원도,평창군,13399820.0,190.0,6747.0,NaN,0.0271,90.36,395.8,1.62,강원도 평창군
15,강원도,홍천군,15125927.0,428.0,1191.0,37.0,0.0271,90.36,388.8,1.54,강원도 홍천군
...,...,...,...,...,...,...,...,...,...,...,...
219,충청북도,단양군,6679972.0,287.0,1499.0,21.0,0.0299,219.20,283.2,1.48,충청북도 단양군
220,충청북도,보은군,4737641.0,316.0,6349.0,99.0,0.0299,219.20,298.2,1.54,충청북도 보은군
221,충청북도,영동군,4133509.0,1.0,6076.0,NaN,0.0299,219.20,296.4,1.64,충청북도 영동군
224,충청북도,제천시,12125010.0,979.0,9024.0,314.0,0.0299,219.20,324.8,1.60,충청북도 제천시
228,충청북도,충주시,14797862.0,1578.0,10600.0,219.0,0.0299,219.20,296.8,1.64,충청북도 충주시

In [21]:
# 결측치 처리
df_hours_top5.loc[(df_hours_top5.cctv_cnt.isna()) | (df_hours_top5.sclight_cnt.isna()) | (df_hours_top5.smalight_cnt.isna())]

,state,city,visit_cnt,cctv_cnt,sclight_cnt,smalight_cnt,crime_rate,avg_pop_density,mean_hours,mean_days,new_state
1,강원도,고성군,11612683.0,422.0,NaN,94.0,0.0271,90.36,375.2,1.56,강원도 고성군
10,강원도,정선군,8151609.0,515.0,NaN,13.0,0.0271,90.36,427.8,1.62,강원도 정선군
14,강원도,평창군,13399820.0,190.0,6747.0,NaN,0.0271,90.36,395.8,1.62,강원도 평창군
18,경기도,가평군,22165414.0,NaN,9119.0,206.0,0.2489,1303.40,316.6,1.36,경기도 가평군
48,경기도,화성시,52221879.0,11327.0,17499.0,NaN,0.2489,1303.40,232.6,1.84,경기도 화성시
79,경상북도,영양군,1383464.0,361.0,3649.0,NaN,0.0451,139.72,421.2,1.76,경상북도 영양군
80,경상북도,영주시,6101190.0,770.0,NaN,NaN,0.0451,139.72,333.8,1.70,경상북도 영주시
83,경상북도,울릉군,1550183.0,103.0,NaN,NaN,0.0451,139.72,594.8,2.38,경상북도 울릉군
104,대전광역시,동구,14914106.0,581.0,15122.0,NaN,0.0307,2781.58,189.2,1.74,대전광역시 동구
117,부산광역시,사하구,13128200.0,517.0,5549.0,NaN,0.0767,4378.44,218.0,1.94,부산광역시 사하구
145,서울특별시,은평구,18163752.0,2804.0,NaN,1067.0,0.1929,15899.10,230.8,1.96,서울특별시 은평구
163,인천광역시,옹진군,5335076.0,130.0,NaN,11.0,0.0587,2765.64,384.8,1.78,인천광역시 옹진군
166,전라남도,고흥군,6272801.0,815.0,NaN,55.0,0.0343,144.78,375.4,1.64,전라남도 고흥군
176,전라남도,신안군,5041641.0,NaN,8233.0,NaN,0.0343,144.78,343.6,1.80,전라남도 신안군
180,전라남도,완도군,4462985.0,334.0,6816.0,NaN,0.0343,144.78,368.2,1.80,전라남도 완도군
202,제주특별자치도,제주시,51413358.0,932.0,26295.0,NaN,0.0189,357.70,362.2,1.88,제주특별자치도 제주시
221,충청북도,영동군,4133509.0,1.0,6076.0,NaN,0.0299,219.20,296.4,1.64,충청북도 영동군

## 결측치 대체 == '중위값'

> 강원도 => sclight_cnt, smalight_cnt

> 경기도 => cctv_cnt, smalight_cnt

> 경상북도 => sclight_cnt, smalight_cnt

> 대전광역시 => smalight_cnt

> 부산광역시 => smalight_cnt

> 서울특별시 => sclight_cnt

> 인천광역시 => sclight_cnt

> 전라남도 => sclight_cnt, smalight_cnt

> 제주특별자치도 => smalight_cnt

> 충청북도 => smalight_cnt

In [27]:
# 중위값으로 채우자
df7.loc[df7.state == '강원도'].sclight_cnt.median()
df7.loc[df7.state == '강원도'].smalight_cnt.median()
df7.loc[df7.state == '경기도'].cctv_cnt.median()
df7.loc[df7.state == '경기도'].smalight_cnt.median()
df7.loc[df7.state == '경상북도'].sclight_cnt.median()
df7.loc[df7.state == '경상북도'].smalight_cnt.median()
df7.loc[df7.state == '대전광역시'].smalight_cnt.median()
df7.loc[df7.state == '부산광역시'].smalight_cnt.median()
df7.loc[df7.state == '서울특별시'].sclight_cnt.median()
df7.loc[df7.state == '인천광역시'].sclight_cnt.median()
df7.loc[df7.state == '전라남도'].sclight_cnt.median()
df7.loc[df7.state == '전라남도'].smalight_cnt.median()
df7.loc[df7.state == '제주특별자치도'].smalight_cnt.median()
df7.loc[df7.state == '충청북도'].smalight_cnt.median()

(4391.0, 46.0)

In [29]:
df7.columns

Index(['state', 'city', 'visit_cnt', 'cctv_cnt', 'sclight_cnt', 'smalight_cnt',
       'crime_rate', 'avg_pop_density', 'mean_hours', 'mean_days',
       'new_state'],
      dtype='object')

In [38]:
# groupby
df_median = df7.groupby('state')[['cctv_cnt', 'sclight_cnt', 'smalight_cnt']].agg(['median']).reset_index()
df_median

      state cctv_cnt sclight_cnt smalight_cnt
              median      median       median
0       강원도    425.0      4391.0         46.0
1       경기도   1813.5      9993.5        321.0
2      경상남도   1074.0      6994.0         62.0
3      경상북도    843.0      8229.0         28.0
4     광주광역시     81.0      9913.0         48.0
5     대구광역시   1438.5      9976.0         48.0
6     대전광역시    738.0     12589.0         66.5
7     부산광역시    584.0      4479.5         25.0
8     서울특별시   1411.0      8646.0        849.0
9   세종특별자치시   1218.0      8029.0         23.0
10    울산광역시    762.0      5082.0        484.0
11    인천광역시    844.5      5117.0        292.5
12     전라남도    448.0      7134.5         38.5
13     전라북도    454.0      7761.5         50.0
14  제주특별자치도    580.0     16771.0         71.0
15     충청남도    976.5      9794.0         62.0
16     충청북도    640.0      6349.0        112.0

In [40]:
df_median_2 = df7.groupby('state', as_index=False).median()
df_median_2.drop(['visit_cnt', 'crime_rate', 'avg_pop_density', 'mean_hours', 'mean_days'], axis=1, inplace=True)

C:\Users\samsung\AppData\Local\Temp\ipykernel_17092\2139900336.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_median_2 = df7.groupby('state', as_index=False).median()

In [41]:
df_median_2

      state  cctv_cnt  sclight_cnt  smalight_cnt
0       강원도     425.0       4391.0          46.0
1       경기도    1813.5       9993.5         321.0
2      경상남도    1074.0       6994.0          62.0
3      경상북도     843.0       8229.0          28.0
4     광주광역시      81.0       9913.0          48.0
5     대구광역시    1438.5       9976.0          48.0
6     대전광역시     738.0      12589.0          66.5
7     부산광역시     584.0       4479.5          25.0
8     서울특별시    1411.0       8646.0         849.0
9   세종특별자치시    1218.0       8029.0          23.0
10    울산광역시     762.0       5082.0         484.0
11    인천광역시     844.5       5117.0         292.5
12     전라남도     448.0       7134.5          38.5
13     전라북도     454.0       7761.5          50.0
14  제주특별자치도     580.0      16771.0          71.0
15     충청남도     976.5       9794.0          62.0
16     충청북도     640.0       6349.0         112.0